<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <span id="{{reqUser}}">User_ID = {{reqUser}} </span>
      <i class="fas fa-chevron-right"></i> <a href="/members">Members</a>
      <i class="fas fa-chevron-right"></i> <B> Dashboard </b>
      <a class="navbar-brand" href="/logout">
        Logout
      </a>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">
      <h3>Dashboard</h3>

      <P>Display contact logs and tasks</P>

      <P>Statistics, like (jobs applied), (jobs responded), (jobs interviewed) etc.</P>

      <h3>Contact_Log</h3>

      {{>dashboard/contactlogdash}}

      <h3>Tasks</h3>

      {{> dashboard/taskdash}}
    </div>
    <div class="col-1"></div>

  </div>
</div>