<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <span id="{{reqUser}}">User_ID = {{reqUser}} </span>
      <i class="fas fa-chevron-right"></i> <a href="/members">Members</a>
      <i class="fas fa-chevron-right"></i> <B> Job Board </b>
      <a class="navbar-brand" href="/logout">
        Logout
      </a>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h3>Dashboard</h3>

      <P>Display contact logs and tasks</P>

      <P>Statistics, like (jobs applied), (jobs responded), (jobs interviewed) etc.</P>

      <P>Contact_Log</P>

      <P>Tasks</P>
    </div>
  </div>
</div>