<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <span id="{{reqUser}}">User_ID = {{reqUser}} </span>
      <a class="navbar-brand" href="/logout">
        Logout
      </a>
    </div>
  </div>
</nav>

<h3>Dashboard</h3>

<P>Display contact logs and tasks</P>

<P>Statistics, like (jobs applied), (jobs responded), (jobs interviewed) etc.</P>

<P>Contact_Log</P>

<P>Tasks</P>