<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
    </div>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <P>This is the demo</P>

      <P><a href="/signup">Sign up</a></P>

      <P>Back to <a href="/">Intro</a></P>

    </div>
  </div>
</div>