<!-- 5. Output the animalType string, pet boolean and fierceness number to the page for all the animals. -->


<h1>Index Page, demo goes here</h1>

<P><a href="/signup">Sign up</a></P>

<P><a href="/login">Log in</a></P>

<P><a href="/demo">Demo</a></P>

<P><a href="/admin">Admin</a> (Not working!!!!)</P>