<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
    </div>
  </div>
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">

      <P>Welcome. </P>

      <P><B>JobTrek</B> wants to <B>keep your job search sane!</B>. As such, we want to make your job search as pleasant
        as possible by helping you track all your job applications. </P>

      <P>If you want to know what makes this job application tracker special, please watch our <a href="/demo"
          class="btn btn-primary btn-large">Demo</a></P>

      <P>If you are ready to start, please click <a href="/signup" class="btn btn-primary btn-large">Sign up</a></P>

      <P>If you already have an account, please <a href="/login" class="btn btn-primary btn-large">Log in</a> to
        access your job application tracking features. </P>

      {{!-- <P><a href="/admin">Admin</a> (Not working!!!!)</P> --}}

    </div>
    <div class="col-1"></div>
  </div>
</div>