<form>
    <div class="form-group">
        <label for="exampleInputEmail1"> Job Title </label>
        <input type="title" class="form-control" id="title" aria-describedby="emailHelp"
            placeholder="Job Trek Developer">
    </div>

    <div class="form-group">
        <label for="companylist">Company</label>
        <select class="form-control" id="companylist">
            <option>Google</option>
            <option>JobTrek</option>
            <option>Trilogy</option>
            <option>Facebook</option>
            <option>Twitter</option>
        </select>
    </div>

    <div class="form-group">
        <label for="location"> Location </label>
        <input type="location" class="form-control" id="title" aria-describedby="emailHelp" placeholder="San Francisco">
    </div>

    <div class="form-group">
        <label for="jobdescription"> Job Description </label>
        <textarea class="form-control" id="jobdescription" rows="3"> Job Description </textarea>
    </div>

    <div class="form-group">
        <label for="jobrequirement"> Job Requirement </label>
        <textarea class="form-control" id="jobrequirement" rows="3"> Job Requirement </textarea>
    </div>


    <div class="form-group">
        <label for="job-url"> Job Post </label>
        <input type="job-url" class="form-control" id="job-url" aria-describedby="emailHelp" placeholder="indeed.com">
    </div>

    <div class="form-group">
        <label for="jobnotes"> Notes </label>
        <textarea class="form-control" id="jobNotes" rows="3"> Notes </textarea>
    </div>
    <div class="text-center">
        <button type="button" id="update btn" class="btn btn-primary"> Update Job </button>
    </div>
</form>

<script>





    
</script>