<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <span id="{{reqUser}}">User_ID = {{reqUser}} </span>
      <i class="fas fa-chevron-right"></i> <a href="/members">Members</a>
      <i class="fas fa-chevron-right"></i> <B>Maintainence</B>
      <a class="navbar-brand" href="/logout">
        Logout
      </a>
    </div>
  </div>
</nav>
<H3>Maintainence menu</H3>


<P>Probably link to CRUD of
  <UL>
    <LI><a href="/members/company">Company</a></LI>
    <LI><a href="/members/contact">Contact</a></LI>
    <LI><a href="/members/job">Job</a></LI>
    <LI><a href="/members/resume">Resume</a></LI>
  </UL>
</P>