<div class="cardResume card" style="width: 18rem;">
    <div class="card-body">

        <h5 class="card-title">{{dataValues.fileName}}</h5>
        <button type="button" class="starBtn btn btn-info" data-id="{{dataValues.id}}">
            <span class="glyphicon glyphicon-star" aria-hidden="false">Star</span>
        </button>

        <i class='far fa-star' style='font-size:24px'></i>
        <p class="card-text">
        </p>

    </div>
    <div class="card-footer text-muted">
        <p>{{dataValues.role}}</p>
        <a href="#" class="btn btn-info" data-id="{{dataValues.id}}">view</a>
    </div>
</div>